section {
        // @include gel-layout;
}

.Home {
        &__story-feed {
                position: relative;
                //position: fixed;
                top: 17.6rem;
                //background-color: red;
                display: flex;
                overflow: scroll;
                flex-direction: column;
                margin: 0 auto;
                align-items: center;
        }
}