.Poll__card{
	text-align: center;
	margin: 2rem;
	padding: 2rem;
	position: relative;
	background-color: #e4e4e4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.Poll__card h3 {
        // margin: 16px;
}

.Poll__radio{
	opacity: 0;
}

.Poll__label{
        position: relative;
		transition: all .2s;
		margin-top: 50px;
		display: inline-block;
        font-family: sans-serif;
        left: -125px;
        top: -40px;
        transform: translate(0);
        text-align: left;
	
	&::before {
		position: absolute;
		border-radius: 4px;
		content: "";
		display: inline-block;
		top: 0;
		left: 0;
		height: 40px;
		width: 250px;
		transition: all .2s;
	}
	
	&::after{
		position: absolute;
		z-index: -1;
		border-radius: 4px;
		content: attr(value);
		line-height: 40px;
		padding-left: 10px;
		top: 0;
		left: 0;
		display: inline-block;
		height: 40px;
		width: 250px;
		background-color: white;
		box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
		transition: all .2s;
	}
	
	&:hover::before {
		top: -2px;
	}
	
	&:hover::after {
		box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
		top: -2px;
	}
	
	&:active::after {
		top: -1px;
	}
	
}

.Poll__radio:checked + label::before{
        
	border: 2px solid #75daad;
}

.Poll__radio:checked + label::after{
        color: #75daad;
        font-weight: bold;
}

.result::before {
	background-color: #75daad;
	width: 0px;
	transition: all .5s;
}

.Poll__submission {
	width: 21.8rem;
	height: 4.6rem;
	font-size: 1.8rem;
	text-transform: uppercase;
	color: $color-blue-2;
	border: .1rem solid $color-blue-2;
	margin: 2.4rem;
}