.Slot {
    width: 4rem;
    height: 4rem;
    background-color: #e4e4e4;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    // vertical-align: center;
    cursor: pointer;
}


.Slot.highlight {
    background-color: #333;
    background-image: url('../../Images/Icons/icon__highlight.svg');
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: center;
}

.Slot.model {
    background-color: #333;
    background-image: url('../../Images/Icons/icon__model.svg');
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: center;
}

.Slot.poll {
    background-color: #333;
    color: white;
    //background-image: url('../../Images/Icons/icon__graph.svg');
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: center;
}
