// .StatusBar {
//     margin: 0 auto;
//     width: 100%;
//     height: 40px;
//     white-space: nowrap;
//     text-align: center;
//     border: .02px solid rgba(grey, 0.3);
//     position: relative;
//     background: $color-white;

//     &__navigation {
//         width: 100%;
//         height: 100%;
//         display: inline-block;

//         & a {

//             &:link, &:visited {
//                 // width: fit-content;
//                 // line-height: 20px;
//                 width: 6%;
//                 height: 100%;
//                 position: relative;
//                 color: #333;
//                 text-decoration: none;
//                 padding: 10px;
//                 border-left: 1px solid rgba(grey, 0.3);
//                 display: inline-block;
//             }

//             &:hover::after {
//                 content: "";
//                 display: inline-block;
//                 position: absolute;
//                 bottom: 0;
//                 left: 0;
//                 width: 100%;
//                 height: 6px;
//                 background-color: red;
//             }

//             &:last-child {
//                 border-right: 1px solid rgba(grey, 0.3);
//             }
//         }


//     }

//     @media only screen and (max-width: 600px) {
//         position: fixed;
//         display: flex;

//         justify-content: center;
//         align-items: center;

//         &__logoBox {
//             height: 100%;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//         }

//         &__logo {
//             //width: 20%;
//             height: 75%;
//             width: auto;
//             display: inline-block;
//             transform: scale(2);
//         }

//         &__appName {
//             display: inline-block;
//             line-height: 40px;
//             font-size: 18px;
//             margin-left: 20px;
//             font-weight: bold;
//         }
//     }
// }

@media(max-width: 375px) {
  .StatusBar {
    height: 14rem;
    width: 100%;
    position: fixed;
    z-index: 999;

    &__system {
      height: 4.4rem;
      width: 100%;
      background: white;
      position: fixed;
      //top: 2rem;
    }

    &__app {
      width: 100%;
      height: 4.4rem;
      position: fixed;
      top: 4.4rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: white;
    }

    &__logoBox {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__logo {
      width: 25%;
      height: auto;
    }

    &__appName {
      text-transform: uppercase;
      font-family: sans-serif;
      margin-left: .5rem;
      font-size: 2.25rem;
    }

    &__button {
      height: 4.4rem;
      border: none;
      background: none;

      &.left {
        margin-left: 1rem;
      }

      &.right {
        margin-right: 1rem;
      }

      &.invisible {
        opacity: 0;
      }
    }

    &__searchBox {
      width: 100%;
      height: 5.2rem;
      background: white;
      position: fixed;
      top: 8.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__search {
      border: none;
      background: rgba($color-grey-5, .1);
      height: 3.6rem;
      width: 34.3rem;
      border-radius: 1rem;
      margin: 0 auto;
      color: $color-grey-5;
      padding: 0 3.2rem;

      &:focus {
        outline: none;
      }
    }

    &__search-icon {
      position: absolute;
      left: 3rem;
    }
  }
}