canvas {
    background-color: #333;
}

.ModelViewer {
    position: static;
    margin: 0 auto;
    height: 300px;
    width: 400px;
    /* height: 1080px; */
    /* width: 1920px; */
}

.Profile > .ModelViewer {
    position: absolute;
    height: 1920px;
    width: 1080px;
}