.Slot {
    width: 5rem;
    height: 5rem;
    position: absolute;
    // transition: all 0.1s;
    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border: 3px solid #75daad;
    border-radius: 6px;
}

.Slot.top{
    left: 50%;
    transform: translate(-50%, 0) scale(1);
}

.Slot.bottom{
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%) scale(1);
}

.Slot.left{
    top: 50%;
    transform: translate(0, -50%) scale(1);
}

.Slot.right{
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%) scale(1);
}

.Slot.bottom{
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
}


.Slot.highlight {
    background-color: #333;
    background-image: url('../Highlight.svg');
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: center;
}

.Slot.model {
    background-color: #333;
    background-image: url('../Model.svg');
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: center;
}

.Slot.poll {
    background-color: #333;
    background-image: url('../Graph.svg');
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position: center;
}
